:root {
  --color-primary: #30c2df;
  --color-primary-light: #a0f9f9;
  --color-primary-dark: #069191;
  --color-secondary: #11284c;
  --color-secondary-light: #235399;
  --color-accent: #682850;
  --color-neutral-beige: #e2e2e2;
  --color-accent-light: #cc3b9c;

  --font-primary: "Cubano", "Roboto Sans", Arial, sans-serif;
  --font-secondary: "Adobe Caslon", serif;
}

html{
  font-family: var(--font-primary);
}

mark {
  background-color: var(--color-primary-light);
}

a {
  color: var(--color-accent-light);
}
