<div role="banner" id="banner">
  <div>
    <img class="img-flex" src="/images/overhead.jpg" alt="overhead image">
  </div>

  <div class="relative pin-bl island-1-2 inline-block">
    <div class="img unit xs-1-2 s-1-2 m-1-2 l-1-4">
      <img class="img-flex hpb-img" src="/images/logo.svg" alt="bird logo">
    </div>
    <div class="logo unit xs-1-2 s-1-2 m-1-2 l-1-4">
      <h1 class="push-0 gutter-1-4 pad-b-1-4">Free as a bird</h1>
    </div>
    <nav class="nav unit xs-1 s-1 m-1 l-3-4" role="nav" id="nav">
      <ul class="list-group-inline push-0">
        <li class="island-1-8 {% if page.highlight_nav == 'home' %} current{% endif %}">
          <a class="tp-banner-nav block text-center gutter pad-t-1-4 pad-b-1-4 milli" href="/">Home</a>
        </li>
        <li class="island-1-8 {% if page.highlight_nav == 'products' %} current{% endif %}">
          <a class="tp-banner-nav block text-center gutter pad-t-1-4 pad-b-1-4 milli" href="/products">Products</a>
        </li>
        <li class="island-1-8 {% if page.highlight_nav == 'cart' %} current{% endif %}">
          <a class="tp-banner-nav block text-center gutter pad-t-1-4 pad-b-1-4 milli" href="/cart">Cart</a>
        </li>
        <li class="island-1-8 {% if page.highlight_nav == 'check-out' %} current{% endif %}">
          <a class="tp-banner-nav block text-center gutter pad-t-1-4 pad-b-1-4 milli" href="/checkout">Check-out</a>
        </li>
        <li class="island-1-8 {% if page.highlight_nav == 'about-us' %} current{% endif %}">
          <a class="tp-banner-nav block text-center gutter pad-t-1-4 pad-b-1-4 milli" href="#">About Us</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="banner unit xs-1">
    <div class="banner-content wrapper pad-b gutter-1-2 span">
      <p class="push-0 peta">Cancer sucks. You're recovery shouldn't have too.</p>
      {% pattern buttons/basic %}
    </div>
  </div>
</div>
